<h1>Dashboard</h1>

<h2>Patients</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><a href="/patients/<%= patient.id %>"><%= full_name(patient) %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Medications</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>

  <% @medications.each do |medication| %>
      <tr>
        <td><a href="medications/<%=medication.id%>"><%= medication.name %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>